body {
  font-family: 'Arial';
  background-color: #000080; 
  color: #FFFFFF; 
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.5;
}

h1.title {
  color: #C0C0C0;           
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
}

#planets th, #planets td {
  border: 1px solid #C0C0C0;
  padding: 10px 15px;
  text-align: center;
}

table#planets {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #000000; 
}

.column_heading, .row_heading {
  color: #C0C0C0;
  font-weight: bold;
}