body {
  font-family: 'Arial';
  background-color: #000080; 
  color: #FFFFFF; 
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

h1.title {
  color: #C0C0C0;           
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
}

#planets th, #planets td {
  border: 1px solid #C0C0C0;
  padding: 10px 15px;
  text-align: center;
}

table#planets {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #000000; 
}